body{
    background-color: rgb(45, 45, 45);
    height: 100vh;
}

.grid-item{
    background: rgb(221, 180, 221);
    padding: 10px;
    border: 5px solid lightgrey;
}

.grid-container{

    height: calc(100% - 16px);

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    /*add padding to the top and bottom*/
    padding: 50px;

    gap: 30px;
    grid-template-areas: 
        "header header ."
}

#grid-item-1{
    background-color: lightcoral;
}

#grid-item-2{
    background-color: lightgreen;
}

#grid-item-3{
    background-color: lightblue;
}

#grid-item-4{
    background-color: lightyellow;
}

#grid-item-5{
    background-color: lightpink;
}

#grid-item-6{
    background-color: lightcyan;
}

.grid-item-2{
    background: rgb(221, 180, 221);
    padding: 10px;
    border: 5px solid lightgrey;
}

.grid-container-2{

    height: calc(100% - 16px);

    display: grid;

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    /*add padding to the top and bottom*/
    padding: 50px;

    gap: 30px;
    grid-template-areas: 
        "header header ."
}

#grid-item-one{
    background-color: lightcoral;
    grid-column: 1 / 4;
    grid-row: span 1;
    height: 65px;
}

#grid-item-two{
    background-color: lightgreen;
    grid-column: 1 / 2; /* Positions it in the first column */
    grid-row: span 10;    /* Makes it span across 2 rows (beneath item 1) */
    height: calc(100%-16px);
}

#grid-item-three{
    background-color: lightblue;
    grid-column: span 2; /* Positions it in the first column */
    grid-row: span 1;    /* Makes it span across 2 rows (beneath item 1) */
    height: calc(100%-16px);
}

#grid-item-four{
    background-color: lightyellow;
    grid-column: span 1; /* Positions it in the first column */
    grid-row: span 9;    /* Makes it span across 2 rows (beneath item 1) */
    height: calc(100%-16px);
}

#grid-item-five{
    background-color: lightpink;
    grid-column: span 1; /* Positions it in the first column */
    grid-row: span 9;    /* Makes it span across 2 rows (beneath item 1) */
    height: calc(100%-16px);
}

.grid-item-3{
    background: rgb(221, 180, 221);
    padding: 10px;
    border: 5px solid lightgrey;
}

.grid-container-3{

    height: calc(100% - 16px);

    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.2fr 1.55fr 0.5fr;

    /*add padding to the top and bottom*/
    padding: 50px;

    gap: 30px;
}

#grid-item-third1{
    background-color: lightcoral;
    grid-column: 1 / span 3; 
    grid-row: 1;
}

#grid-item-third2{
    background-color: lightgreen;
    grid-column: 4 / span 3;
    grid-row: 1; 
}

#grid-item-third3{
    background-color: lightblue;
    grid-column: 1 / span 2;
    grid-row: 2;
    height: calc(100%-16px);
}

#grid-item-third4{
    background-color: lightyellow;
    grid-column: 3 / span 4;
    grid-row: 2;
    height: calc(100%-16px);
}

#grid-item-third5{
    background-color: lightpink;
    grid-column: 1 / span 6;
    grid-row: 3;
}

.grid-container-4 {
    height: calc(100% - 16px);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 6fr;
    padding: 50px;

    gap: 30px;
}

.grid-item-4 {
    background: rgb(221, 180, 221);
    padding: 10px;
    border: 5px solid lightgrey;
}

#grid-item-fourth1 {
    background-color: lightcoral;
    grid-column: 1 / span 3;
    grid-row: 1;
}

#grid-item-fourth2 {
    background-color: lightgreen;
    grid-column: 4 / span 3;
    grid-row: 1;
}

#grid-item-fourth3 {
    background-color: lightblue;
    grid-column: 1 / span 3;
    grid-row: 2;
}

#grid-item-fourth4 {
    background-color: lightgoldenrodyellow;
    grid-column: 4 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.nested-item {
    padding: 10px;
    border: 5px solid lightgrey;
}

#grid-item-fourth5 {
    border: 5px solid lightgrey;
    background-color: lightpink;
    grid-column: span 2;
}

#grid-item-fourth6 {
    border: 5px solid lightgrey;
    background-color: lightseagreen;
    grid-column: 1/2;
    grid-row: 2;
}

#grid-item-fourth7 {
    border: 5px solid lightgrey;
    background-color: lightgray;
    grid-column: 2/2;
    grid-row: 2;
}

a {
    color: #a3d8d8;
    text-decoration: none;
    font-weight: bold;
}

/* hover is a reponsive attribute, which detects the cursor hovering over said elements */
a:hover {
    color: #f9c9d2; 
    text-decoration: underline;
}