header {
    padding: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(252, 137, 170);
    width: 100%;
}

header h3{
    /*push text to the right slightly*/
    margin-left: 150px;
}

header nav {
    margin: 20px;
    margin-right: 150px;
    padding: 0px, 100px;
    justify-content: space-between;
}

header nav a {
    margin: 0 15px;
    color: white;
}

body {
    font-family: 'Arial', sans-serif; 
    background-image: linear-gradient(to right, #f9c9d2, #b6a0d2, #a3d8d8);
    color: white;
    margin: 0;
    padding: 0;
}


#Intro{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: justify;    
    padding: 20px;
}
#Intro h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#Intro p {
    display: flex;
    flex-direction: column; /* Change to column direction to stack the content */
    justify-content: center; /* Center vertically */
    text-align: justify; /* Justify the text horizontally */
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center; /* Center text horizontally */
    width: 50%;
}

#subscribeSection {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(252, 137, 170);
    margin-top: 80px;
    width: 100%;
    gap: 40px;
}

#subscribeSection form {
    margin: 16px;
}

#subscribeSection form button {
   background-color: lightpink;
}

#imageSection {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    align-items: center;
    flex-direction: row;
    text-align: center; 
    margin-top: 70px;
    gap: 20px;
}

#imageSection p {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.0em;
    color: white;
    justify-content: center;
    text-align: justify;
}

footer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(252, 137, 170);
}
